<plugin name='falcone-util' version='1.2-DEV' grailsVersion='2.3.5 &gt; *'>
  <author>Eric Martineau</author>
  <authorEmail>ericm@infusionsoft.com</authorEmail>
  <title>Falcone Util Project</title>
  <description>\
The base classes used to support multi-tenancy and the falcone framework
</description>
  <documentation>http://grails.org/FalconeUtil+Plugin</documentation>
  <type>FalconeUtilGrailsPlugin</type>
  <resources />
</plugin>